/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.btn_sign{
    margin: 4px;
    padding: 16px 18px;
}
/*banner start*/
banner{
    padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.b_h1 {
    margin: 10px 0 20px;
    font-size: 30px;
    line-height: 45px;
}
.b_p2 {
    margin: 0 0;
    line-height: 25px;
}
.b_img{
    margin: 0 0 30px;
}

/*feature start*/
.p_bottom {
    padding-bottom: 60px;
}
.f_item {
    margin: 30px 0 0;
}
.f_h2 {
    font-size: 20px;
}
/*course start*/
.c_h1 h1 {
    font-size: 28px;
}
.co_item {
    margin: 30px 0 0;
    padding: 15px 15px 20px;
}
.co_h2 {
    font-size: 22px;
}
.co_left ul li img, .co_right ul li img {
    width: 20px;
}
.co_left ul li span, .co_right ul li span {
    font-size: 15px;
}
.cli:not(:last-child) {
    margin-right: 0;
}
/*testi start*/
.test_item{
    margin-top: 30px;
}
.test_img {
    padding: 0 50px 20px;
}
.test_text {
    text-align: center;
}
/*footer top start*/
.footer_top {
    text-align: center;
}
.ft_details {
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.ft_details p {
    line-height: 25px;
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.btn_sign{
    margin-left: 0;
    padding: 8px 20px;
}
/*banner start*/
banner{
    padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.b_h1 {
    margin: 10px 95px 20px;
    font-size: 30px;
    line-height: 45px;
}
.b_p2 {
    margin: 0 50px;
    line-height: 30px;
}
.b_img{
    margin: 0 50px 30px;
}
/*feature start*/
.p_bottom {
    padding-bottom: 60px;
}
.f_item {
    margin: 30px 0 0;
}
/*course start*/
.c_h1 h1 {
    font-size: 28px;
}
.co_item {
    margin: 30px 50px 0;
    padding: 15px 15px 20px;
}
.co_h2 {
    font-size: 22px;
}
/*testi start*/
.testimoni{

    padding: 60px;
}
.test_item{
    margin-top: 30px;
}
.test_img {
    padding: 0 120px 20px;
}
.test_text {
    text-align: center;
}
/*footer top start*/
.footer_top {
    text-align: center;
}
.ft_details {
    padding-bottom: 30px;
    padding-right: 70px;
    padding-left: 70px;
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header staart*/
header{
    padding: 10px 0;
}
.menu ul li a{
    padding: 0 5px 5px 5px !important;
}
/*banner start*/
.b_text {
    text-align: center;
}
.b_h1 {
    margin: 10px 180px 20px;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
.b_p2 {
    margin: 0 130px;
    line-height: 25px;
}
.b_img{
    margin: 0 50px 30px;
}
/*feature start*/
.p_bottom {
    padding-bottom: 80px;
}
.f_item {
    margin: 40px 0 0;
}
/*course start*/
.c_h1 h1 {
    font-size: 30px;
}
.co_item {
    margin: 50px 120px 0;
}
/*footer top start*/
.footer_top {
    text-align: center;
}
.ft_details {
    padding-bottom: 40px;
    padding-right: 100px;
    padding-left: 100px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*course start*/
.co_item {
    padding: 20px 15px 25px;
}
.co_left ul li img, .co_right ul li img {
    width: 20px;
}
.co_left ul li span, .co_right ul li span {
    font-size: 15px;
}
.cli:not(:last-child) {
    margin-right: 0;
}
.ft_details {
    padding-right: 120px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)and (max-width: 1399.98px) {
/*footer top start*/
.ft_details {
    padding-right: 120px;
}
}
/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
.b_h1{
    margin: 10px 105px 20px 0;
}
/*footer top*/
}